.flash-sale p{
    position: relative;
}
.flash-sale p::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: rgb(29, 93, 255);
    left: -15px;
    border-radius: 10px;
}




.card-container{
    scrollbar-width: none;
}